<!DOCTYPE html>
<html>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="../static/css/style.css">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

<head>
    <title>RSVP SHAIHI & ZARIF WEDDING</title>

</head>
<body style="background-image: url(../static/background.jfif);  background-repeat: no-repeat;background-attachment: fixed;background-size: cover;">
<audio class="audio" style = "display:none;" autoplay loop>
    <source src="../audio/biw.mp3" type="audio/mpeg">
</audio>
<div class="container" style="padding: 3; background:white; max-width: 80%; min-width:20%;">

    <div class="mainpadd">

        <h1 style="text-align:center;" >SHAIHI & ZARIF STORY</h1>

        <div class="topnav" style="text-align:center; width:100%;">
            <!-- Centered link -->
            <a href="../templates/home.html" class="active">HOME</a>
            <a href="../templates/rsvp.html" class="active">RSVP</a>
            <a href="../templates/story.html" class="active">STORY</a>
            <a href="../templates/venue.html" class="active">VENUE</a>
            <a href="../templates/tentative.html" class="active">TENTATIVE</a>
            <a href="../templates/wishes.html" class="active">WISHES</a>
        </div>

        <div class="mainpadd">
            <img src="../static/ring.jpg" class="responsive-image" alt="wedding ring" >
        </div>

    </div>


</div>

</body>
</html>